.account-content {
    .password-form {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .form-group {
            display: flex;
            flex-direction: column;

            label {
                @include text(18px, NS-B, normal, null, null);
                margin-bottom: 8px;
                color: #00315c;
            }

            .input-container {
                position: relative;
                display: flex;
                align-items: center;

                input {
                    width: 100%;
                    padding: 8px;
                    height: 47px;
                    @include text(16px, Lato-R, normal, null, null);
                    border: 1px solid #ced4da;
                    border-radius: 4px;

                    &:focus {
                        border-color: #00315c;
                        outline: none;
                    }
                }

                .toggle-password {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    font-size: 18px;
                    color: #707070;

                    &:hover {
                        color: #00315c;
                    }
                }
            }
        }

        .btn-update {
            width: 180px;
            height: 50px;
            padding: 10px 20px;
            align-self: flex-end;
            
            @include text(16px, Lato-B, normal, null, null);
            color: #fff;
            background-color: #00315c;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #ffdd00;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-right: 8px;
        padding-left: 8px;
        margin-right: auto;
        margin-left: auto;
    }
    .account-content {
        .password-form {
            .form-group {
                width: 100%;
            }
        }
    }
}

@media (max-width: 390px) {
    .account-container {
        justify-content: center;
        align-items: center;
    }
}
